# Get these from https://cloud.livekit.io after creating a project
LIVEKIT_API_KEY=APIxxxxxxxxxxxxx
LIVEKIT_API_SECRET=secretxxxxxxxxxxxxxxxxxxxxxxxxxxx
LIVEKIT_URL=wss://yourproject-xxxx.livekit.cloud
